* {
    box-sizing: content-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


body.body-tour {
    background-image: url("./design/blue-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 358px) {
    form {
        height: fit-content;
    }
    
    #form-newsletter h2 {
        margin-bottom: 5% !important;
    }
    .btn.btn-newsletter {
        margin-bottom: 15% !important;
    }
    .tour-dates .row .col-6,
    .tour-dates .row .col-1 {
        width: 75%;
        text-align: center !important;
    }

    .tour-footer {
        margin-top: 40vh !important;
        height: 7vh !important;
    }

    
}    


@media only screen and (min-width: 767px) and (max-width: 992px) and (min-height: 1000px) and (max-height: 1500px){

    .link-social img { 
        margin: 0 15px !important;
    }

    #form-newsletter {
    margin: 20% 30% 30% 10% !important;
    }

    .footer {
        margin-top: 15vh !important;
    }

    .tour-dates {
        padding-top: 20.5vh !important;
    }

    body.body-tour {
        background-image: url("./design/blue-tablet.jpg");
        background-size: 100vh 100vw;
        background-repeat: no-repeat;
    }



}    

@media only screen and (min-width: 768px) and (max-height: 999px){

    #carousel .card-body {
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        padding-left: 15%;
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 30px;
    }    

    .form-box {
        background-image: url("./design/smoke-newsletter-lg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #form-newsletter {
        margin-left:5% !important;
        margin-top: 15vh;
    }

    .header-newsletter h2{
        float: right;
        height: 30%;
        width: 40%;
        margin: 0% 15% 0% 5% !important;
        text-align: right !important;
        font-size: 6vw !important;
        color: #1BC1FF;
        font-weight: bold;
    }

    .form-item,
    .form-check {
        margin-left: 0 !important;

    }

    #input-name {
        width: 10vw !important;
    }
    
    #input-email,
    #input-password {
        width: 20vw !important;
    }

    .form-check-label {
        margin-left: 2vh !important;
        width: 300px !important;
    }

    body.body-tour {
        background-image: url("./design/blue.jpg");
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }

    .tour-dates {
        width: 50vw !important;
        padding: 15% 10% 10% 23% !important;
        
    }

    .tour-dates h2 {
        font-size: 4vw;
    }

    .tour-dates h3 {
        font-size: 3vw;
    }
    .tour-dates .row span.col-1 {
        height: max-content;
        font-weight: bold;
        color:#1BC1FF;
        align-items: center;
    }
    
    .tour-dates .row span.col-6 {
        height: max-content;
        font-weight: 200;
        color: #00A3FE;
        align-items: center;
    }

    
}






/* NAVBAR */
.navbar {
    border-bottom: 1px solid #00A3FE;
    box-shadow: 0px 1px 1px #00a5fe72;
    height: fit-content !important;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(205,242,255,1) 100%);
}

.link-social img {
    width: 40px !important; 
    margin: 0 5px;
}

.navbar-brand {
    margin-right: 0px;
}
.logo-img {
    height: 75px;
    width: 120px !important;
    z-index: 2;
}
.list-group li{
    border: none ;
    color: #1BC1FF;
    background-color: transparent;
}

.list-group-item.d-inline {
    padding-right: 16px;
    border-right: 1px solid #00A3FE;
    border-radius: 0% !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.list-group-item.d-inline a {
    color: #1BC1FF;
    text-decoration: none;
}

.list-group-item.d-inline a:hover {
    color:#00A3FE;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(27,	193, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: #00A3FE;
} 

.navbar-toggler:focus{
    color: #1bc2ff80;
}

.offcanvas {
    width: 50vw !important;
    border: 0px !important;
}

.btn-close {
    background-image: url(immagini/close.png);
    background-size: cover;
    width: 10px;
    height: 10px;
}

.offcanvas-body .list-group-item a {
    color: #1BC1FF;
    text-decoration: none;
}

.offcanvas-body .list-group-item a:hover {
    color:#00A3FE;
}

.list-group-item.d-inline:last-of-type{
    padding-right: 8px;
    border-right: none;
}




/* HOMEPAGE */

.home-page img{
    width: 100vw !important;
    height:100vh !important;
    position: relative;
    box-shadow: 0px 2px 2px #00a5fe76;
}




/* CAROSELLO SINGOLI */
#carousel {
    width: 100%;
    height: 100vh;
    display: flex !important;
    align-items: center;
    margin: 0;
    background-image: url("./design/smoke-music.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.carousel-item .card {
    margin: auto !important;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.card img {
    border: 1px solid rgba(0, 0, 0, 0.427);
    border-radius: 5px !important;
    box-shadow: 0px 5px 5px #00a5fe78;

}

.card-body {
    color: #1BC1FF;
    padding: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body .card-title {
    font-weight: bold;
}

.btn.download-stream{
    background-color: #00A3FE;
    color: white;
    border-radius: 20px;
    padding: 18px 10px 0px 10px !important;
    text-decoration: none;
}

.btn:hover {
    background-color: #1BC1FF !important;
    color: white !important;
}

.btn a {
    padding-bottom: 0px !important;
}

.carousel-control-next,
.carousel-control-prev {
    transition: opacity .35s ease !important;
    
}


.carousel-control-prev img,
.carousel-control-next img {
    width: 20px;
}


/* FORM DI ISCRIZIONE */
.form-box {
    background-image: url("./design/smoke-newsletter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    margin-top: 5%;
    width: 30%;
    
}

.header-newsletter {
    width: 100vw;
    display: flexbox;
    justify-content: center;
    
}
.header-newsletter h2 {
    color: #1BC1FF;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: 3vh;
    text-align: center;
    padding: 2px;
}

.form-item {
    width: 70vw;
}

#input-name {
    width: 25vw;
}

#input-email,
#input-password {
    width: 50vw;
}


.form-check {
    width: 50vw;
    padding-left: 0px !important;
}

.form-label{
    color: #1BC1FF;
}

.form-check-input {
    margin: 0 !important;
}

.form-check-label {
    color:#00A3FE;
    width: 40vw;
    margin-left: 5%;
}

.btn.btn-newsletter {
    background-color: #00A3FE;
    color: white;
}




/* TOUR PAGE */

.tour-dates {
    position: relative;
    width: 75%;
    height: 50vh !important;
    padding: 40% 10% 10% 10% ;
}

.tour-dates h2,
.tour-dates h3 {
    color:#1BC1FF;
    font-weight: bold;
}

.tour-dates li {
    border-bottom: 1px solid #CCA23E !important;
    padding: 15px 5px;
    align-items: center;
}

.tour-dates .row span.col-1 {
    height: max-content;
    font-weight: bold;
    color:#1BC1FF;
    align-items: center;
}

.tour-dates .row span.col-6,
.tour-dates .row span.col-lg-5 {
    height: max-content;
    font-weight: 200;
    color: #00A3FE;
    align-items: center;
}

.btn.btn-tickets {
    background-color: #00A3FE;
    color: white;
}




/* FOOTER */

.navbar.tour-footer,
.navbar.social-footer {
    height: 7vh !important;
    width: 100%;
    border-top: 1px solid #00A3FE;
    border-bottom: 0px;
    box-shadow: 0px -1px 1px #00a5fe72;
    background-color: white;
    position: relative;
}

.social-footer {
    margin-top: 5vh !important;
}

.social-footer-item {
    margin: auto;
}

.tour-footer {
    margin-top: 17vh;
}

.tour-footer-item {
    margin: auto;
    padding-top: 1.8%;
    position: relative;
}




/*  TIPOGRAFIA */

.card-title {
    font-size: 5vw;
}

.header-newsletter h2{
    font-size: 5vw;
}